.post-sidebar
    display: none

.block-call_to_action
    &:nth-child(2)
        background-color: black !important
        .call_to_action
            color: var(--cta-background-color) !important
    
