.post-sidebar
    display: none

.block-call_to_action
    &:nth-child(3)
        background-color: black !important
        .call_to_action
            color: var(--cta-background-color) !important



.posts__section
    .hero
        margin-bottom: 0
        
        .content>h1
            margin-top: 0
    

.persons--list
    display: none

.page__home
    .hero
        display: none

    .block-call_to_action
        &:nth-child(1)
            background-color: black !important
            padding-top: 5rem !important

            .call_to_action
                color: white !important

            
